.situation-page {
  .content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 1;

    &:before {
      content: '';

      background: url('../../assets/images/situation/situation-header-bg.png') center bottom no-repeat;
      background-size: cover;
    }
    .content-header-inner {
      position: relative;
      z-index: 1;
    }
    img {
      max-width: 150px;
    }
  }
  .content-body {
    padding: 0 16px;

    .centered-container {
      width: 100%;
      margin-top: 0px;
      
      .situation-container {
        position: relative;
        top: -50px;

        .situation-label {
          background: #c73844;
          color: #FFF;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          padding: 8px;
          max-width: 200px;
          margin: 0 auto 5px;
        }
        .situation-container-inner {
          // padding: 0 16px;

          .section-dark {
            padding: 0 16px;
            background: #e5be83;
            padding-bottom: 8px;
          }
          .section-light {
            padding: 0 16px;
            background: #fbcc85;
            margin-bottom: 10px;
            padding-bottom: 8px;
          }
          .spacer {
            flex: 1 !important;
          }
        }
      }

      .btn {
        width: 160px;
        display: block;
        height: 44px;

        @media only screen and (max-width: 320px) {
          width: 150px;
          height: 41px;
        }
      }
      .correct-data-btn {
        background: url('../../assets/images/situation/corrigirdados.png') center center no-repeat;
        background-size: cover;
      }
      .choose-plan-btn {
        background: url('../../assets/images/situation/escolherdados.png') center center no-repeat;
        background-size: cover;
      }
    }
  }
}