<ion-content>
  <main class="situation-page">
    <div class="content-wrapper">
      <div class="content-header"></div>
      <div class="content-body">
        <div class="content-body-inner">
          <div class="centered-container">
            <div class="situation-container">
              <div class="situation-label">
                situação legal
              </div>
              <div class="situation-container-inner">
                <div class="section-dark">
                  <div class="flex py-3">
                    <span class="bold">NBT1458</span>
                    <span class="spacer"></span>
                    <span class="bold">FEIRA DE SANTANA</span>
                  </div>
                  <div class="flex">
                    <span>Chassi: **04967</span>
                    <span class="spacer"></span>
                    <span class="bold">2010/2011</span>
                  </div>
                  <div class="flex">
                    <span>Cor: Cinza</span>
                  </div>
                  <div class="flex">
                    <span>Licencimento: Até 31 de outubro</span>
                  </div>
                  <div class="flex">
                    <span>Referência: Fevereiro de 2019</span>
                  </div>
                </div>
                <div class="section-light">
                  <div class="flex py-3">
                    <span>Honda</span>
                    <span class="spacer"></span>
                    <span class="red--text bold">R$ 41.193,00</span>
                  </div>
                  <div class="flex">
                    <span class="bold">Civic Sed. LXL/LXL SE 1.8 Flex 16v Aut.</span>
                  </div>
                  <div class="flex">
                    <span class="spacer"></span>
                    <span>2011 gasolina</span>
                  </div>
                  <div class="flex py-3">
                    <span>Honda</span>
                    <span class="spacer"></span>
                    <span class="red--text bold">R$ 41.193,00</span>
                  </div>
                  <div class="flex">
                    <span class="bold">Civic Sed. LXL/LXL SE 1.8 Flex 16v Aut.</span>
                  </div>
                  <div class="flex">
                    <span class="spacer"></span>
                    <span>2011 gasolina</span>
                  </div>
                </div>
                <div class="flex justify-around">
                  <button class="btn correct-data-btn" (click)="back()"></button>
                  <button class="btn choose-plan-btn" (click)="navTo('plans-page')"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
  