<ion-content class="ion-content">
    <main class="plan1-page">
      <div class="content-wrapper">
        <div class="content-header"></div>
        <div class="content-body">
          <div class="content-body-inner">
            <div class="centered-container">
              <div class="plan-wrapper">
                <div class="flex justify-center">
                  <button class="btn plan-1-btn"></button>
                </div>
                <div class="benefits">
                  <div class="red--text">Proteção conta roubo e furto <span class="colision">colisão</span></div>
                  <div class="red--text">Assistência 24h com 2.000km de guincho sendo 1.000km para o associadoe 1.000km para o terceiro</div>
                  <div class="red--text">chaveiro, troca de pneu, socorro mecânico e elétrico</div>
                  <div class="red--text">Proteção contra terceiros até 30.000,00 dados materiais</div>
                  <div class="red--text">cobertura de 10.000,00 para danos corporais (APP)</div>
                  <div class="red--text">covertura pra vidros, faróis e retrovisores</div>
                  <div class="red--text">15 dias de carro reserva</div>
                  <div class="red--text">indenização com referência: tabela fipe -ano modelo</div>
                  <div class="red--text">direito de participar do programa de indicação: indique amigos e ganhe assim que eles se associarem.</div>
                </div>
                <div class="value-wrapper">
                  <div class="value">Valor: R$ 120,00</div>
                  <span>* média de valor mensal conforme rateio</span>
                </div>
                <div class="flex justify-center">
                  <button class="btn associate-btn" (click)="navToSuccess()"></button>
                </div>
                <div class="plan-footer flex">
                  <img src="../assets/images/home/logo.png" alt="">
                  <div class="spacer"></div>
                  <button class="btn plan-2-btn"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </ion-content>
      