<ion-content>
  <main class="register-page">
    <div class="content-wrapper">
      <div class="content-header"></div>
      <div class="content-body">
        <div class="centered-container">
          <div class="input-wrap">
            <input type="text" placeholder="DIGITE SEU NOME...">
          </div>
          <div class="input-wrap">
            <input type="text" placeholder="DIGITE SEU WHATSAPP...">
          </div>
          <div class="input-wrap vehicle-type-label">
            <input type="text" placeholder="SELECIONE O TIPO DE VEÍCULO" readonly>
          </div>
          <div class="vehicle-type">
            <div class="option" (click)="vehicleType = 'moto'" [ngClass]="{ 'active': vehicleType === 'moto' }">
              <div class="check"></div>
              <img src="../assets/images/register/moto.png" alt="">
            </div>
            <div class="option" (click)="vehicleType = 'carro'" [ngClass]="{ 'active': vehicleType === 'carro' }">
              <div class="check"></div>
              <img src="../assets/images/register/carro.png" alt="">
            </div>
            <div class="option" (click)="vehicleType = 'caminhao'" [ngClass]="{ 'active': vehicleType === 'caminhao' }">
              <div class="check"></div>
              <img src="../assets/images/register/caminhao.png" alt="">
            </div>
          </div>
          <div class="input-wrap vehicle-plate">
            <input type="text" placeholder="DIGITE A PLACA DO VEÍCULO...">
          </div>
          <button class="btn search-btn" (click)="search()"></button>
        </div>
      </div>
    </div>
  </main>
</ion-content>