.register-page {
  .content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:before {
      content: '';

      background: url('../../assets/images/register/register-header-bg.png') center bottom no-repeat;
      background-size: cover;
    }
    .content-header-inner {
      position: relative;
      z-index: 1;
    }
    img {
      max-width: 150px;
    }
  }
  .content-body {
    background: url('../../assets/images/general-body-bg.jpg') center center no-repeat;
    background-size: cover;

    .centered-container {
      width: 250px;
      margin-top: 30px;
      
      .input-wrap {
        margin-bottom: 16px;

        input {
          width: 100%;
          display: block;
          background: #f6dfb6;
          height: 35px;
          border: 2px solid #e7b75d;
          font-size: 14px;
          padding-left: 10px;
          color: #b58a4d;
          outline: none;

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #b58a4d;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #b58a4d;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #b58a4d;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #b58a4d;
          }
        }

        &.vehicle-plate {
          input {
            background: #63aefc;
            border-color: #FFF;
            color: #FFF !important;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #FFF;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: #FFF;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: #FFF;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #FFF;
            }
          }
        }
      }

      .vehicle-type-label {
        margin-bottom: 5px;
      }

      .vehicle-type {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 35px;
        border: 2px solid #e7b75d;
        background: #f6dfb6;
        margin-bottom: 10px;

        .option {
          display: flex;
          align-items: center;

          .check {
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid #e73543;
            margin-right: 5px;
          }
          img {
            width: 24px;
            height: auto;
          }

          &.active {
            .check {
              background: #e73543;
            }
          }
        }
      }

      .search-btn {
        width: 100%;
        display: block;
        height: 69px;
        background: url('../../assets/images/register/search-btn.png') center center no-repeat;
        background-size: cover;
      }
    }
  }
}