.plans-page {
  .content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:before {
      content: '';
      // content: '';
      // position: absolute;
      // width: 100%;
      // height: 233px;
      background: url('../../assets/images/plans/plans-header-bg.png') center bottom no-repeat;
      background-size: cover;
    }
    .content-header-inner {
      position: relative;
      z-index: 1;
    }
    img {
      max-width: 130px;
    }
  }
  .content-body {
    // background: url('../../assets/images/home/body-bg.jpg') center center no-repeat;
    // background-size: cover;

    .centered-container {
      width: 100%;
      margin: 60px auto 0;
      text-align: center;
      
      .btn {
        width: 246px;
        height: 48px;
        margin-bottom: 16px;
        background-size: cover !important;
      }
      .plan-1-btn {
        background: url('../../assets/images/plans/plano1.png') center center no-repeat;
      }
      .plan-2-btn {
        background: url('../../assets/images/plans/plano2.png') center center no-repeat;
      }
    }
  }
}
