<ion-content>
  <main class="plans-page">
    <div class="content-wrapper">
      <div class="content-header"></div>
      <div class="content-body">
        <div class="content-body-inner">
          <div class="centered-container">
            <p class="red--text mb-2">SELECIONE O PLANO E VEJA BENEFÍCIOS</p>
            <button class="btn plan-1-btn" (click)="navTo('plan1-page')"></button>
            <button class="btn plan-2-btn" (click)="navTo('plan2')"></button>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
  