.plan1-page {
  position: relative;
  .content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:before {
      content: '';
      background: url('../../assets/images/plans/plan-header-bg.png') center bottom no-repeat;
      background-size: cover;
    }
    .content-header-inner {
      position: relative;
      z-index: 1;
    }
    img {
      max-width: 130px;
    }
  }
  .content-body {
    .centered-container {
      width: 100%;
      padding: 0 16px;
      margin-top: 0;
      
      .plan-wrapper {
        position: relative;
        top: -120px;
        z-index: 1;

        .benefits {
          margin-bottom: 8px;
          
          div {
            text-transform: uppercase;
            font-size: 11px;
            padding: 5px 16px;
          }
          div:nth-child(2n + 1) {
            background: #e7b75d;
          }
          div:nth-child(2n + 2) {
            background: #ebc784;
          }
        }
        .value-wrapper {
          text-align: center;
          margin-bottom: 16px;
          .value {
            color: #FFF;
            background: #e63443;
            font-size: 22px;
            max-width: 250px;
            margin: 0 auto 2px;
            padding: 8px
          }
          span {
            text-transform: uppercase;
            color: #e63443;
            font-size: 12px;
          }
        }
        .plan-footer {
          img {
            width: 65px;
            height: 35px;
          }
        }
      }
      .btn {
        width: 246px;
        height: 48px;
        margin-bottom: 16px;
        background-size: cover !important;
      }
      .plan-1-btn {
        background: url('../../assets/images/plans/plano1.png') center center no-repeat;
      }
      .plan-2-btn {
        width: 180px;
        height: 35px;
        background: url('../../assets/images/plans/verplano2.png') center center no-repeat;
      }
      .associate-btn {
        width: 300px;
        height: 71px;
        background: url('../../assets/images/plans/associar.png') center center no-repeat;
      }
    }
  }
}
