// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-cpntent {
  display: flex;
  flex-direction: column;
}

// LAYOUT
.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;

  .content-header {
    display: flex;
    position: relative;
    height: 130px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: calc(100% + 26px);
      background-size: cover;
    }
    .content-header-bg {
      
    }
  }
  .content-body {
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;

    .content-body-inner {
      flex: 1;
      background: url('assets/images/general-body-bg.jpg') center top;
      background-size: cover;
    }
  }
}

.centered-container {
  width: 200px;
  margin: 60px auto 0;
}

.btn {
  background-size: cover;
  outline: none;
}


// helpers
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.red--text {
  color: #c73844;
}
.bold {
  font-weight: bold;
}
.spacer {
  flex: 1 !important;
}
.pt-1,
.pl-1,
.pr-1,
.pb-1 {
  padding-top: 0.25em; 
}
.px-1 {
  padding: 0 0.25em; 
}
.py-1 {
  padding: 0.25em 0; 
}

.pt-2,
.pl-2,
.pr-2,
.pb-2 {
  padding-top: 0.75em; 
}
.px-2 {
  padding: 0 0.75em; 
}
.py-2 {
  padding: 0.75em 0; 
}

.pt-3,
.pl-3,
.pr-3,
.pb-3 {
  padding-top: 1em; 
}
.px-3 {
  padding: 0 1em; 
}
.py-3 {
  padding: 1em 0; 
}

.mt-1,
.ml-1,
.mr-1,
.mb-1 {
  padding-top: 0.25em; 
}
.mx-1 {
  padding: 0 0.25em; 
}
.my-1 {
  padding: 0.25em 0; 
}

.mt-2,
.ml-2,
.mr-2,
.mb-2 {
  padding-top: 0.75em; 
}
.mx-2 {
  padding: 0 0.75em; 
}
.my-2 {
  padding: 0.75em 0; 
}

.mt-3,
.ml-3,
.mr-3,
.mb-3 {
  padding-top: 1em; 
}
.mx-3 {
  padding: 0 1em; 
}
.my-3 {
  padding: 1em 0; 
}