<ion-content>
  <main class="home-page">
    <div class="content-wrapper">
      <div class="content-header">
        <div class="content-header-inner">
          <img src="assets/images/home/logo.png">
        </div>
      </div>
      <div class="content-body">
        <div class="centered-container">
          <button class="btn register-btn" (click)="navTo('register-page')"></button>
          <button class="btn login-btn" (click)="navTo('login')"></button>
          <button class="btn survey-btn" (click)="navTo('survey')"></button>
        </div>
      </div>
    </div>
  </main>
</ion-content>
