.home-page {
  .content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &:before {
      content: '';
      // content: '';
      // position: absolute;
      // width: 100%;
      // height: 233px;
      background: url('../../assets/images/home/header-bg.png') center bottom no-repeat;
      background-size: cover;
    }
    .content-header-inner {
      position: relative;
      z-index: 1;
    }
    img {
      max-width: 130px;
    }
  }
  .content-body {
    background: url('../../assets/images/home/body-bg.jpg') center center no-repeat;
    background-size: cover;

    .centered-container {
      max-width: 200px;
      margin: 60px auto 0;
      
      .btn {
        display: block;
        width: 200px;
        height: 48px;
        margin-bottom: 16px;
        background-size: cover !important;
      }
      .register-btn {
        background: url('../../assets/images/home/home-btn-1.png') center center no-repeat;
      }
      .login-btn {
        background: url('../../assets/images/home/home-btn-2.png') center center no-repeat;
      }
      .survey-btn {
        background: url('../../assets/images/home/home-btn-3.png') center center no-repeat;
      }
    }
  }
}
